<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
     
 


        <ul class="navigation">
          {%- for nav in collections.nav | reverse -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
    
    </header>
   
   <div class="flex-container">

<a href="{{ nav.url | url }}">{{ nav.data.navtitle }}<img class="banner" src="/img/banner.png"></a>
<h2 class="under-banner">The Code Tinkerer, Misfit and All Round Adorable Arseshole</h2>
</div>




<div class="flex-container">
  <div>
<p> I'm Johnny, I do things. and I sometimes don't things, I was born and currently still live on a pebble in the UK, a pebble called Jersey. It's a tiny, over-crowded pebble but it's my pebble.  I work for a mail order/online company 
    If you need to know more than that; Ask</p>
 </div>

  <div>
    
 <ul>
        <li>I'm not a developer, I'm a tinkerer.</li>
        <li>Writer of worlds</li>
        <li>I'm a gamer.</li>
        <li>I fix things</li>
        <li>I break Things.</li> 
        <li>Bunnies are evil.</li>
        <li>I 3D print things.</li> 
        <li>Did I mention Bunnies are Evil?</li>
    
</ul>


  </div>
  
</div>


    <br>
    <br>


    <article class="flex-container">




    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
     

      {{ content | safe }}
    </main>



</article>
<br>
<br>


    <footer class="flex-container">
      

  <p>Be Yourself, Everyone Else Is Already Taken</p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>