---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h2 class="under-banner">The Code Tinkerer, Misfit and All Round Adorable Arseshole</h2>





<div class="flex-container">
  <div>
<p> I'm Johnny, I do things. and I sometimes don't things, I was born and currently still live on a pebble in the UK, a pebble called Jersey. It's a tiny, over-crowded pebble but it's my pebble.  I work for a mail order/online company 
    If you need to know more than that; Ask</p>
 </div>

  <div>
    
 <ul>
        <li>I'm not a developer, I'm a tinkerer.</li>
        <li>Writer of worlds</li>
        <li>I'm a gamer.</li>
        <li>I fix things</li>
        <li>I break Things.</li> 
        <li>Bunnies are evil.</li>
        <li>I 3D print things.</li> 
        <li>Did I mention Bunnies are Evil?</li>
    
</ul>


  </div>
  
</div>


    <br>
    <br>



{{ content | safe }}


